#name {
    font-size: 18px;
    font-weight: bold;
  
    
  
  } 
  
  #description {
    font-size: 18px;
    font-weight: bold;
   
    
    
  } 
  
  #status {
    font-size: 18px;
    font-weight: bold;
   
  }

  body{
    background-color: cadetblue;
  }